<%- include('partials/header.ejs') %>
    <br>
    <br>
    <img src="images/myProtofolio.jg" alt="Anupriya Nain" id="prof">
    <p class="abtme">
        I am Anupriya Nain, a student of the Artificial Intelligence-Software
                     Engineering Technology course. I am a great team player but can also work 
                     independently when required. I have excellent communication and interpersonal
                     skills and am able to build strong working relationships with both colleagues
                     and clients. With a strong background in the technical field, I strive to 
                     deliver high-quality solutions. When I'm not working on exciting projects,
                     I enjoy playing badminton and going to the gurudwara (a holy place of my religion).
    </p>

    <br>
    <a href="SET Resume.pdf" target="_blank" class="pdf-button">Anupriya Nain - Curriculum Vitae</a>
<%- include('partials/footer.ejs') %>